* {
  padding: 0;
  margin: 0;
}

/*
Navbar Styles
*/
.header-container {
  padding: 1.3rem;
  background-color: rgb(82, 82, 82);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(211, 211, 211);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 1.1rem;
}

.nav-link-a {
  color: white;
}

.nav-link-a:link,
.nav-link-a:visited {
  color: white;
}

.nav-link-a:hover {
  color: rgb(221, 221, 221);
}

.nav-link-a:active {
  color: rgb(175, 173, 173);
}

.nav-links hr {
  border: 1px solid black;
  height: 80%;
}

/*
Home Styles
*/
.home-container {
  margin-top: 0.7rem;
}

.home-container > * {
  padding: 1.3rem;
}

.home-container p {
  margin-top: 1.1rem;
}

/*
Calculator Styles
*/
.calculate-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

/*
Quotes Styles
*/
.quotes blockquote {
  font-size: 1.8rem;
  margin: 3.2rem;
}
